<!-- <head>
	<title> MindMap </title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
 -->
<div style="background-size:cover; background-position: 0 20%; width:100%; height:100%; background-image: url(assets/images/connectivity-global-network.jpg)">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

      	<img onload="this.style.opacity='1';" 
      	     src="assets/images/mindMap.png" 
      	     style="display: block; 
      	     		margin: auto" />

		<form class="pure-form" style="margin-left: 35%; margin-top: 15%">
			<input type="text" placeholder="Username" id="username">
    		<input type="password" placeholder="Password" id="password">
    	</form>	
</div>