#cId{
	text-align: center;
	margin-top: 25%;
}

#butt{
	margin-top: 1%;
}

input{
	text-align: center;
}

#part{
	margin-top: 2.5%;
	margin-right: 2.5%;
	background-color: red;
	position: fixed;
	right: 0;
	top: 0;
}
