body {
	font-family: 'Lato', sans-serif;
}

#cId{
	text-align: center;
	margin-top: 25%;
}

#butt{
	margin-top: 1%;
}

input{
	text-align: center;
}

#graph {
	background: #000;
	width:100%;
	height:100%;

	
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  /*fill: #fff;*/
  fill: url(https://scontent-lga3-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/11707686_10153391552790336_2333245517216608156_o.jpg);
}

.link {
  stroke: #fff;
  stroke-opacity: .6;
}

#loading {
	position:absolute;
	width:100%;
	background: #000;
	padding-top:45vh;
	color: #fff;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}