<html>
	<head>

		<!-- meta data -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Graph</title>
		<!-- TODO -->

		<!-- bower:js -->
		<script src="../lib/jquery/dist/jquery.js"></script>
		<script src="../lib/angular/angular.js"></script>
		<script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="../lib/moment/moment.js"></script>
		<script src="../lib/lodash/lodash.js"></script>
		<script src="../lib/restangular/dist/restangular.js"></script>
		<script src="../lib/angular-touch/angular-touch.js"></script>
		<!-- endbower -->


		<!-- application scripts -->
		<script type="text/javascript" src="js/scripts.js"></script>

		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="css/main.css">

	</head>

	<body>
	</body>
</html>
